/* nav */
#navbar {
  align-items: flex-end;
  background-color: #31333b;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding-right: 1em;
  padding-top: 5em;
  position: fixed;
  width: 260px;
}

#navbar img {
  margin-bottom: 2em;
  width: 100px;
}

#navbar a {
  border-bottom: #7b7b7b 1px solid;
  color: white;
  padding: 1.8em 0 1.2em 1.5em;
  text-align: right;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  width: 100%;
}

#navbar a:hover,
#navbar a:focus {
  color: #bdbfc7;
  scale: 0.95;
}
