@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/* INTER PESO: 300, 400 e 700
ROBOTO PESO: 300, 400 e 700 */

:root {
  --font-inter: "Inter";
  --font-roboto: "Roboto";
  --white: #e7e7e7;
  --slate-gray: #444856;
  --pumpkin-orange: #ff7833;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: var(--font-inter);
}

/* main INDEX*/
#main {
  padding-left: 20em;
  padding-top: 4em;
  background-color: var(--slate-gray);
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h3 a {
  color: var(--pumpkin-orange);
  transition: all ease-in-out 0.5s;
}

#main h3 a:hover {
  text-decoration: none;
  color: white;
}

#main p,
.social-icons a {
  color: #e7e7e7;
}

#main .social-article .social-icons {
  display: flex;
  gap: 50px;
}

#main .social-article .social-icons i {
  font-size: 2em;
  display: flex;
  align-items: center;
}

#main .social-article a {
  text-decoration: none;
}

[class^="social-icons__"] {
  transition: transform 0.35s ease-in-out;
}

[class^="social-icons__"]:hover {
  transform: scale(1.2);
}

.social-icons__yt:hover .bxl-youtube::before {
  color: red;
}

.social-icons__ig:hover .bxl-instagram::before {
  color: #e4405f;
}

.social-icons__tt:hover .bxl-twitter::before {
  color: #1da1f2;
}

.social-icons__linkedin:hover .bxl-linkedin-square::before {
  color: #0077b5;
}

/* TIPOGRAFIA */
pre,
code {
  color: var(--white);
}

#main .featured-article {
  padding-left: 2em;
  border-left: #ff7833 1px solid;
}

#main .featured-article p {
  font-size: 1.1em;
}

#main #elements {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
#main #elements .underline {
  text-decoration: wavy red underline !important;
}

#main #elements .text a {
  color: white;
}

#main #elements .quotations blockquote {
  color: white;
}
